[2018-01-07 20:44] JackCA opened #1 "Feature Request: Option to customize intensity"
Awesome project and works great so far. Nice work!

It would be really great to be able to customize the intensity of the feedback, possibly between low, medium (default), and high?

[2018-01-09 08:38] niw commented on #1
Haptic feedback is triggered by using Apple’s private, undocumented API that has a set of predefined gaussian wave. The current implementation is using the most strong one that can trigger enough feedback to the hands, but technically it’s possible to have an option that changes the predefined gaussian wave, which may just not simply changing intensity but may trigger much waker feedback. Let me t

[2018-01-09 09:38] niw commented on #1
Implemented intensity selection (c278996cd6dff4a2846c200ce53603cc5597ea97).
Released [HapticKey 0.3.0](https://github.com/niw/HapticKey/releases/tag/0.3.0).

[2018-01-09 09:38] #1 closed

[2018-01-10 21:51] JackCA commented on #1
@niw amazing!!! This is perfect, thank you

[2018-01-12 15:45] heshiyou opened #3 "It's kind of weird to got 2 same haptic feedbacks while a quick click"
Maybe it's a good idea to lower the up event's feedback intensity? Like, actuateActuationID = 1 for the up event?
I can do the PR.

[2018-01-12 17:08] niw commented on #3
It triggers two haptic feedbacks when tap down and tap up. These are not exactly same as like how taps on trackpad trigger these. The one triggered for tap up has slightly different pattern.
See `unknown3:` used at https://github.com/niw/HapticKey/blob/master/HapticKey/Classes/HTKHapticFeedback.m#L52.

[2018-01-13 09:06] heshiyou commented on #3
I know, its quite good with a longer click, tap-pause-for-a-while-up, but when you do a quick tap, will get a weird ta-ta.
I changed the up event’s feedback intensity to weaker the second ‘ta’, it works ok.

[2018-01-13 18:30] niw commented on #3
Okay, to me, it works even if it’s quick tap down and up. Probably, identifying each tap or key press and triggering timer to adjust intensity or wave form is the best solution but it may take some amount of work. Note this as enhancement and will work on it.

[2018-01-13 19:33] heshiyou commented on #3
Great, looking forward..

[2018-01-14 02:57] niw commented on #3
Implemented a timer guard to not trigger haptic feedback too much frequently in a commit b2b4ad23cbd467a43f7428bcb208589c26d59e9e.
This should mitigate double feedbacks in a short period.

[2018-01-14 03:04] #3 closed

[2018-01-14 13:28] heshiyou commented on #3
Great job!

[2018-01-15 05:58] chrisballinger opened #4 "[Feature Request] Feedback while dragging sliders (volume, brightness, etc)"
Similar to how the taptic engine on iOS gives you rapid feedback when scrolling through picker values, or jumping through tableview indexes, it would be nice if there was velocity-relative feedback when changing sliders values in the touchbar, for example volume and brightness. I guess just having a set number of clicks per length of slider and triggering events as you pass through them would work

[2018-01-15 07:26] niw commented on #4
It may be possible, but need to figure out how to listen events triggered by each UI component displayed on the Touch Bar, which I didn’t investigate yet so it may not be easy to figure out.
At this moment, it’s possible to know the tracking finger on it but it doesn’t mean that the events are for slider UI component and if using it, it may triggering unnecessary haptic feedbacks.

[2018-01-17 04:34] kailuo opened #5 "It seems that the app uses much more memory with trackpad events."
Just found this issue after using it for a couple of hours, the app used almost 400MB memory which ... reminds me the SourceKitService (😛 just kidding, it is doing great now)

So I dig into the code and found that the issue occurs only with trackpad events, when using a mouse the usage is around 10MB which seems to be normal.

This project is so cool by the way 🚀, thanks!

[2018-01-17 05:51] niw commented on #5
Looks like there is a leaking memory when we use ”All Taps on Touch Bar” mode.

[2018-01-17 05:58] kailuo commented on #5
Yeah, seems that the event created in eventTapCallback was not released.

[2018-01-17 05:59] kailuo commented on #5
And after adding an autoreleasepool there, problem solved 😄

[2018-01-17 06:02] niw commented on #5
Yes, it is. `-[NSEvent eventWithCGEvent:]` retains `CGEvent` and returns “returns an autoreleased NSEvent” as its header comment said.

[2018-01-17 06:11] niw commented on #5
Okay, fixed on 7e56060c8c246b919102df3adcef416465f6f883.
Released [HapticKey 0.3.3](https://github.com/niw/HapticKey/releases/tag/0.3.3).

[2018-01-17 06:13] niw commented on #5
Thank you for reporting!

[2018-01-17 06:13] #5 closed

[2018-01-17 06:21] kailuo commented on #5
Cool! 👍

[2018-01-19 00:29] chrisballinger opened #6 "Haptic feedback only on touch-down event?"
I'm curious if you've tried only doing the feedback on touch-down only, and not on touch-up.

If I touch the key fast enough I only seem to get the touch-down feedback, which makes the response feel inconsistent sometimes. Then I started wondering what it felt like if was possible to only send one haptic event instead of two.

[2018-01-19 00:37] chrisballinger commented on #4
I just had another idea, but to avoid opening up too many "idea issues" on your repo, I'll just include it here because it's still relevant to this one. I just had a rush of nostalgia thinking about how you could add the [OS 9 Platinum sounds](https://www.youtube.com/watch?v=QhPVCKDdwPY) in addition or as an alternative to the haptic feedback. For example, while you're interacting with a touchbar

[2018-01-19 00:37] niw commented on #6
It is using [both touch down and up](https://github.com/niw/HapticKey/blob/7e56060c8c246b919102df3adcef416465f6f883/HapticKey/Classes/HTKHapticFeedback.m#L64) and triggers different type of haptic feedbacks, as long as these two events are not happening in a very short period, which is [50ms](https://github.com/niw/HapticKey/blob/7e56060c8c246b919102df3adcef416465f6f883/HapticKey/Classes/HTKHaptic

[2018-01-19 00:48] niw opened #7 "Play sound feedback when listening the events"
In the comment of #4, @chrisballinger brings up that it would be better to have a sound feedback instead of haptic feedback. This is an issue to memo this request.

[2018-01-23 23:36] munsuri commented on #6
For quick taps, personally, I find one key stroke (down) more natural with a better feeling. I have added three more cases to the app such as Down/Up key event (default), Down Key event or Up key event to keep experimenting.

[2018-01-23 23:39] munsuri commented on #7
I'm down for that one too. I was planning to add it myself after the one key event.

[2018-01-24 11:44] munsuri commented on #7
Actually, it was quicker than expected to implement audio feedback with [AVAudioPlayer](https://developer.apple.com/documentation/avfoundation/avaudioplayer). I've used a shorter version (quiet start and end removed) of [this sound](https://freesound.org/people/bigmonmulgrew/sounds/378085/). Now, the sound intensity can be controlled (or not) as well through that API.

[2018-01-25 13:44] CaptainYukinoshitaHachiman opened #8 "Add Homebrew Cask support"
As the title, I hope HapticKey can be installed through Homebrew.

[2018-01-25 17:33] chrisballinger commented on #8
@CaptainYukinoshitaHachiman Here's a guide if you'd like to make one and submit a PR. They won't merge non-stable releases but it can be installed thru a tap https://github.com/caskroom/homebrew-cask/blob/master/doc/development/adding_a_cask.md

[2018-01-29 07:24] niw commented on #8
Currently I’m not signing any pre build binaries and yet have no plan to do so.

I understand that current distribution that is using Github release page isn’t ideal solution.
In future at some point, I prefer to support [Sperkle](https://sparkle-project.org/) and probably also Homebrew Cask.

[2018-01-29 23:08] muescha commented on #4
the hight of the sound could reflect the position of the slider

[2018-01-29 23:09] muescha commented on #7
@munsuri you should create a pull request with your modification

[2018-01-29 23:11] muescha commented on #6
@munsuri can you create also a pull request for your changes?

[2018-01-29 23:13] niw commented on #7
Sorry, I accidentally hit “Close issue” button, please ignore the last activities.

[2018-01-30 01:19] chrisballinger commented on #7
If anyone wants to play around with the old Mac OS 9 Platinum sounds for nostalgia purposes, I extracted them from the resource fork of the original sound set I found somewhere online. I'm a fan of `00548 "wopn".aiff`, but there are a number of other good ones.

[Mac OS 9 Platinum Sounds.zip](https://github.com/niw/HapticKey/files/1675884/Mac.OS.9.Platinum.Sounds.zip)

[2018-01-30 01:57] niw commented on #7
Okay, so I made a change to support sound effect 4cbef9faa7b6d1667911ac743a8d947538469cec and some other features on `wip/add_sound_effect_and_screen_flash` branch.
Since there are some concerns so didn’t merge this into `master` yet, once it’s solved I’ll post a new release.

@chrisballinger if you want to use that sound, you can add that sound as a resource to the project (Simply drag and drop t

[2018-01-30 02:35] chrisballinger commented on #7
Yeah I agree about the licensing, probably not a good idea to ship those by default. Perhaps a few royalty free default sounds could be included, selectable via Sounds sub-menu. Then you could drop external sound files into `~/Library/Application Support/HapticKey/Sounds/` and enumerate them within the sub-menu along with the bundled sounds. I'd submit a PR for that once things settle down a bit.

[2018-01-30 04:18] niw commented on #7
@chrisballinger That approach sounds good!

[2018-01-30 05:20] chrisballinger opened #9 "Sound Submenu"
I'm imagining a submenu for Sound, offering different choices for finger up / down, and toggling one or both off independently. The "Add Sound..." item could just open a Finder window to `~/Library/Application Support/HapticKey/Sounds/` and allow the user to drop custom sound files in that folder.

<img width="265" alt="screen shot 2018-01-29 at 9 13 59 pm" src="https://user-images.githubuserconte

[2018-01-30 19:07] niw commented on #9
I think the first level of selection for the sound effect would be better to only have “None”, “Default”, and “Custom.” Since most of users may not use custom sound effect, it would be better to make it simple for that use case.
Then, for the custom case, it may give users to select a some flexibility of customization as you suggested.

[2018-01-30 20:08] chrisballinger commented on #9
Okay great! I'll look into making a patch sometime soon.

[2018-01-30 20:13] chrisballinger commented on #9
Would you be okay with me splitting the current default sound into separate touch down / touch up sounds by default? Right now the current behavior is to play a sound that includes both down/up sounds on the down action.

[2018-01-30 20:26] niw commented on #9
Sure, however, current default sound is the one can be found in macOS shared resource, which is a single sound file contains both down and up effects. Since it was’t easy to find a better sound effect resources that don’t cause any license issues, this is the solution for now.

Ideally it would be better to have a separation for each event, but it might need some extra work.

[2018-01-30 20:34] chrisballinger commented on #9
I guess to avoid license issues for shipping a modified version of that file I could figure out a nice timestamp for splitting that specific file and do it once at launch.

What other technical issues do you see playing separate sounds for the up/down events? Although I havent looked too deeply I figured it would be a relatively simple patch to add a sound for the up event.

[2018-01-30 20:38] niw commented on #9
No, other than having such tricks, like separating the sound by the time to avoid license issues, it should be simple and straightforward as you found! 😊

[2018-01-31 21:10] chrisballinger commented on #9
Got the sound file splitting to work! Still have a bunch of other stuff to do, but it already sounds/feels great. Progress so far: https://github.com/niw/HapticKey/compare/master...chrisballinger:sound-submenu

[2018-02-02 05:32] niw commented on #9
Nice!
It might be better to use in-memory partial sounds generated from `CoreAudio.component/Contents/SharedSupport/SystemSounds` files instead of writing them out to the file? Also I suggest to have a simple file check, may be SHA1 hash, so that at least the application doesn't make nay unexpected sounds from these files.
And... it's very common comment in open source world though, it would be re

[2018-02-02 07:27] chrisballinger commented on #9
The reason I'm writing them out to separate files is that directory is where I was intending all sound files will be stored (including custom ones). The conversion process is only meant to happen once on first launch (or if the default sounds were deleted for whatever reason). Another benefit is that if you want to later drop custom sounds in that folder, they can be enumerated and selected with t

[2018-02-05 06:28] ShingmoYeung opened #11 "加入自动更新功能和简体中文的本土化表述不够准确"
1、加入自动更新功能
2、简体中文的本土化表述不够准确。比如⌘0，翻译成停用或者禁用是不是更好？
3、屏幕提示点击的touchbar按键

[2018-02-05 17:35] niw commented on #11
Hi, first of all, sorry, I’m not native Chinese speaker, but answering for your questions, based on my understanding. If I am wrong, please correct me but it would be nice if it is in English or Japanese.
Also, please file a ticket per issue, not put many things in one issue, next time.

1. I'm currently working on the automatic update. This will be included in future release. 😉

2. I translated t

[2018-02-05 17:37] niw commented on #9
Thank you for the pull request, I’ll review it soon!

[2018-02-09 17:05] niw commented on #9
Sorry for late reply, since now we have #10, I’m going to reply for your comments on #10. That might be better to continue this thread here.

[2018-02-11 03:53] ShingmoYeung commented on #11
Hello,

Since I'm not good at English and Japanese, the following description of the problem is based on the results of Google's translation.
Regarding the last time I mentioned those suggestions or improvements, I have now seen the automatic update function added by the new version. Among them, it is inappropriate for Chinese-based translations to follow the English literal translation (for examp

[2018-02-13 01:31] niw commented on #11
Hi @ShingmoYeung!

I think now I know what you meant, especially for the last question. Let me answer for each topic.

1. Automatic update.
Yes, I've implemented it and from this version and following will be automatically updated. 😄

2. Chinese translations for “None”
I see, so 没有 is just a direct translation but it needs to be a context aware. Do you have any suggestions for the better translati

[2018-02-13 01:35] niw opened #12 "Fix Chinese translations"
Since some of words, probably both in simplified and traditional Chinese translations, have direct translations from English words which are not natural as Chinese expressions.
For example, ”没有” for “None” used in a selection of intensity of haptic feedback.

Current, as of 0.4.2 release, translations are here.
* [Simplified Chinese (zh-Hans)](https://github.com/niw/HapticKey/blob/0.4.2/HapticKey/

[2018-02-13 01:37] niw opened #13 "Better screen feedback instead of flashing screen"
Since flashing screen is a little bit aggressive or confusing because it used for alerting in terms of Accessibility feature on macOS.
Possible solution could be
* Displaying a tapped key name in HUD style
* Shows a indicator around the mouse cursor or text cursor (if exists.)

[2018-02-13 01:40] niw commented on #11
Filed #12 and #13 so I'm going to close this issue, but please reply for each topic on each issue, instead. Thank you for reporting!

[2018-02-13 01:40] #11 closed

[2018-02-13 18:02] niw commented on #12
I’ve got a few suggestions, note them here.
* Probably usage of “None” itself is, even in English, may be not good because it may confuse users that the device doesn’t support haptic feedback.
* There is also menu item labeled “Disabled” in the other section, which may also confuse users.

[2018-02-17 19:52] chrisballinger opened #14 "Relatively high CPU usage (1-2% during every mouse event)"
Every mouse event causes the `EventTapCallback` to be called, which over time results in a constant 1-2% CPU usage.

I did a basic time profile and found that the main culprit is calling `[NSEvent eventWithCGEvent:eventRef]`, which seems extremely slow for something that I assumed would be "toll-free". There are a few things I'm going to try to reduce CPU usage in the callback, but I was wondering

[2018-02-17 21:23] chrisballinger commented on #14
After further investigation I think this is unavoidable because I don't think it's possible to distinguish between mouse gesture events and touchbar events without first creating the `NSEvent`.

[2018-02-18 10:10] niw commented on #14
@chrisballinger Thank you for your investigation, I didn't realize that `eventWithCGEvent:` costs that much. Actually, after disassemble `NSEvent` implementation, it does more than I expected. Technically, scan all possible event and create touches synchronously upfront, which is not deferring at all. I think we can use `CGEvent` directly with some private values to mitigate this call.

[2018-02-18 12:02] niw commented on #14
Created `wip/reduce_event_with_cgevent_call` branch for testing.
It removes all `eventWithCGEvent:` call from non Touch Bar related gesture events.
However, as I tested, probably because of amount of events we anyways need to observe, it still costs some CPU usage.
Wondering if this patch is worth enough or not... 🤔

[2018-02-18 16:59] chrisballinger commented on #14
I made a very similar patch on a branch that I threw away :) The hard part will be figuring out how to filter mouse gestures vs touchpad gestures from some private CGEvent API without first converting to NSEvent, because that would eliminate most of the noise. Even if you still have to eventually convert the touchpad gestures to NSEvent, being able to efficiently ignore the extraneous trackpad inp

[2018-02-18 17:33] niw commented on #14
@chrisballinger Yeah, that part, differentiating events from Touch Bar or normal multi touch device, requires some undocumented API usages. If you can test this branch and see some benefits, I’m going to merge this.

[2018-03-13 17:54] niw opened #16 "Trackpad gesture to open notification center doesn’t work"
Report on Twitter

https://twitter.com/806448839/status/973524403509108737

[2018-03-13 17:56] niw commented on #16
As I tested the latest version of HapticKey on MacBook Pro 2017 (15 inches), it works as expected and I couldn’t reproduce this behavior.

[2018-03-15 11:11] niw commented on #16
Reply on Twitter

[2018-03-31 04:39] zhangwujun666 commented on #16
This issue has been disappeared after I update to macOS 10.13.4 :D

[2018-03-31 20:39] niw commented on #16
Looks like the issue has been resolved on 10.13.4. I’m going to close this issue. If we observe this issue again, please reopen this.

[2018-03-31 20:39] #16 closed

[2018-04-05 07:07] brightsider opened #17 "Hide icon"
Can you add option to hide icon?

[2018-04-05 19:30] niw commented on #17
@brightsider you meant, the icon on the status bar?

[2018-04-22 21:57] JMY1000 commented on #6
It'd be nice to have this be configurable, as I'd prefer a much longer time. Asking the user to rebuild seems like kinda a hassle. I'd love to contribute, but Objective-C is unfortunately outside my wheelhouse for now.

[2018-04-24 13:14] ribrob opened #18 "Additional option for when to trigger haptic feedback"
Currently there are 2 options to trigger haptic feedback;

1. _All Taps on Touch Bar_
2. _Esc and F1, F2, etc. keys_

1. Isn't ideal as it means you get fedback when you tap the bar even if there's no button there

2 Is quite limiting, as app-specific Touch Bar buttons do not trigger the haptics

Is it possible to add an option for _Taps on any Touch Bar buttons_?

This would trigger haptics whene

[2018-04-24 17:16] niw commented on #18
Thank you for the feedback!
I understand that the difference, but it’s because of the current implementation limitation.
I think it’s technically possible, however requires some extra reverse engineering of the Touch Bar private APIs, which I didn’t try yet.

[2018-05-07 05:37] niw commented on #17
Okay, update this ticket.

So... actually adding feature to hide icon on the status bar is just a trivial implementation, however, it’s not trivial to provide a way to restore it in the application interface because the icon on the status bar is the only entry point of this application interface.

There are a few possible solutions, but non of them are perfect.
1. Hide icon only when the applicati

[2018-06-25 14:49] joshho opened #19 "Does not work in: Spotlight search field"
No feedback happens when the "esc" on the touchbar is pressed while the Spotlight search field is open.
Attempted with vibrate + screen flash enabled.

Mac High Sierra 10.13.4

[2018-06-25 17:28] joshho commented on #19
@niw Whoops, yes that's right.

Also some additional information - I found that it works when set to "All tabs on Touch Bar"

Actually I just realized that when the Spotlight bar is open, it doesn't say "esc" but "done".

[2018-06-25 17:28] #19 closed

[2018-06-26 14:22] andrewwilliam26 opened #20 "Add a feature to trigger haptic feedback as we slide a slider"
i notice that when sliding the volume/brightness slider theres is no haptic feedback. I think it would be nice if when we slide a slider we get a feedback.

I hope this is possible!
so far I've been enjoying this app

[2018-06-26 23:07] jdtzmn commented on #20
There is already an open issue for this feature (#18).

[2018-06-27 00:31] niw commented on #20
Yes, I think it’s a duplicate of #4 request. I'll close this. To implement that, it may require extra research around the private API behavior which may not be trivial.

[2018-06-27 00:31] #20 closed

[2018-07-12 15:17] d53dave commented on #17
I have seen other apps go route (3) and I liked it.

The way they communicated was to show a popup saying that a user can reach the application again by starting it from the applications folder.

[2018-07-15 06:40] jdtzmn commented on #4
@chrisballinger I added haptic feedback when dragging on the touchbar (see pull request above), however I will keep searching for a way to target sliders/scrubbers only.

[2018-07-15 06:42] jdtzmn commented on #4
@niw tbh, I've never written Objective-C code before, so feel free to make edits/adjustments if something is not written the "correct" way.

[2018-07-15 06:46] niw commented on #17
@d53dave Thank you for the input! I’m exploring the solution for route option 3 now.

[2018-07-15 06:51] niw commented on #4
@jdtzmn Thank you so much! I think using `NSTouchPhaseMoved` is valid and simple enough solution for this. If you could find the slider, scrubber only solution, that would be also nice! I’ll see and test that patch soon.

[2018-07-16 02:42] niw opened #22 "System asks permission for Accessibility in Privacy settings again after updating the application"
When updating the application using “Check for updates…” menu (by using Sparkle,) after updating the application binary, system asks permission for Accessibility in Privacy settings again, even if it’s previously approved and the application appears in the list with a checkmark.

For short-term solution, to workaround this behavior, toggle the checkmark and enable HapticKey again from the menu ite

[2018-07-16 02:43] niw commented on #17
Released [HapticKey 0.4.3](https://github.com/niw/HapticKey/releases/tag/0.4.3).
There is known automatic update issue. See #22.

[2018-07-21 20:58] niw commented on #12
@ziliangpeng Thank you! Nice find, that’s good example.

I think current menu items doesn’t provide context for each item and so not communicating the configuration and state clearly. Thus, probably, using `強`, `中`, `弱`, and `无` with `触覚反饋` section title may make it more sense.

Also when `Disabled` is selected, it would be better to disable all other items on menu to communicate the application f

[2018-07-21 21:59] niw commented on #12
Okay, I think this menu much more better than now.

<img width="237" alt="Enabled" src="https://user-images.githubusercontent.com/13096/43040354-933f8ba2-8cf6-11e8-9e21-666d3b56963c.png"> <img width="237" alt="Dsiabled" src="https://user-images.githubusercontent.com/13096/43040350-872ea01e-8cf6-11e8-8e75-ac7df5cdc029.png">

[2018-07-22 00:40] niw commented on #12
And probably not `禁用` or `関閉` but `停用`?

[2018-07-22 05:20] niw commented on #12
Okay, update translations and menu labels. I think it’s now much clear than original menu items. Will post a new update and close this ticket.

[2018-07-22 05:34] niw commented on #12
Update menu by commit 2b53dde4d8429c98200dc88fa7335172b9f55334.
Released [HapticKey 0.4.4](https://github.com/niw/HapticKey/releases/tag/0.4.4). Hope the things much cleaner now.

[2018-07-22 05:34] #12 closed

[2018-07-24 12:34] jedisct1 opened #23 "No haptic feedback on MacBook Pro 2018"
Hi,

For some reason, there is no haptic feedback on MacBook Pro (tested on the 15" version).

HapticKey correctly detects key strokes, as visual and sound notifications work as expected, but there is no haptic feedback no matter what the intensity is.

Is there anything I could provide in order to diagnose this issue?

[2018-07-24 14:33] STRML commented on #23
Can reproduce as well on a 2018.

[2018-07-24 18:17] niw commented on #23
I don’t have MacBook Pro 2018 yet, and couldn’t test it yet.
@jedisct1, Is your MacBook Pro also 2018 model?

Also do you mind to capture a debug log from the application for future investigation?

1. Quit HapticKey.
2. Open `Applications/Utilities/Console.app`.
3. Select `Action` in main menu, then select `Include Debug Messages`.
4. Select your device on left pane, then type `Process:HapticKey`

[2018-07-24 19:11] STRML commented on #23
Logs are here (https://hastebin.com/idafudeyus.bash). These errors print when I press anything on the bar:

[code]

[2018-07-24 19:24] niw commented on #23
Hmm, looks like the device ID for the haptic engine has been changed on MacBook Pro 2018. Since the device ID is [fixed value](https://github.com/niw/HapticKey/blob/4e5e952ba272d97406610fea4d97cfbfffaee24b/HapticKey/Classes/HTKMultitouchActuator.m#L68) found by using IORegistryExplorer.app on MacBook Pro 2017 and this works with the one out 2016 as well. So, probably I need some help to find new d

[2018-07-24 19:34] niw commented on #23
@STRML Thank you, I've built a new binary with given device ID. If you don't mind, could you test this?
[HapticKey.app.zip](https://github.com/niw/HapticKey/files/2225076/HapticKey.app.zip)

[2018-07-24 19:42] STRML commented on #23
Rebuilt myself by changing out the app ID -- it works. Haptic feedback seems very weak, though. At "Weak" it's imperceptible, and at "Strong" it still is pretty subtle.

[2018-07-24 19:46] niw commented on #23
That is good news, thank you! And, I see... so the actuation IDs are also changed. These are also [fixed values](https://github.com/niw/HapticKey/blob/4e5e952ba272d97406610fea4d97cfbfffaee24b/HapticKey/Classes/HTKHapticFeedback.m#L102)

[2018-07-24 19:53] STRML commented on #23
I tried that out. Appears to be the same, actually. `6` was the strongest, but not that strong. Unsure if the force touch is just weaker on this model.

Here is the output from MultitouchSupport: https://hastebin.com/otilowiyem.xml

[2018-07-24 20:34] niw commented on #23
@STRML I see, actuation ID `6` has biggest base amplitude, so it might be the strongest one in the preset. I think there is an API to manually define these waves but didn’t research much yet.

So, I think the minimum solution, for now for this issue, is to use right device ID per MacBook Pro model instead of using fixed value.

[2018-07-25 06:14] JMY1000 commented on #23
Same here, thought it was just me. Happy to help if you want anything.

[2018-07-25 17:12] niw commented on #23
It’s kind of critical issue. but, I think the approach is clear now.
Just I need actual hardware to test it.

[2018-07-28 00:35] niw commented on #23
I made a brunch (support_macbook_pro_2018)[https://github.com/niw/HapticKey/tree/support_macbook_pro_2018] for testing MacBook Pro 2018.

Pre-build binary for testing is here: [HapticKey.app-20180727173226.zip](https://github.com/niw/HapticKey/files/2237540/HapticKey.app-20180727173226.zip)

I don’t have MacBook Pro 2018 so I can’t test this, but if someone could help me to test this on your devic

[2018-07-28 01:03] Palisand commented on #23
Works for me MacBook Pro 13-inch, 2018 running High Sierra.

[2018-07-28 01:06] JMY1000 commented on #23
@niw Works for me too.

[2018-07-28 01:33] niw commented on #22
To workaround this behavior, seems like, it requires a code signing with developer ID.
This cost some on me and not trivial for now. I will figure out it but it may not be immediate.

[2018-07-28 02:48] takashiyoshida commented on #23
@niw I tried it on my MacBook Pro 15" 2018 and it works. 👍

[2018-07-28 03:04] niw commented on #23
@takashiyoshida Thank you!!

I’ll publish new version soon!! Thank you so much for debugging and testing for all. Really appreciated.

[2018-07-31 07:12] claui commented on #8
This issue can be closed because [Homebrew Cask support was added](https://github.com/Homebrew/homebrew-cask/pull/49979) last week.

Note that [apps which have only pre-release versions](https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md#but-there-is-no-stable-version) are **always welcome** to Homebrew Cask. [Unsigned binaries](https://github.com/niw/HapticKey/

[2018-07-31 07:56] niw commented on #8
@claui Oh, nice! Thank you! I’m going to close this issue.

[2018-07-31 07:56] #8 closed

[2018-10-05 10:01] JayBrown opened #25 "Always disabled (2018 MBP, 10.13.6)"
The new version 0.4.6 remains disabled in 10.13.6 on a 2018 MBP. Clicking on "ESC…" and "All Taps" doesn't enable. Tried deleting preferences; no change. Note: also have BetterTouchTool installed; maybe that's interfering? (But it didn't with the previous version.)

[2018-10-05 16:16] niw commented on #25
Hi @JayBrown.
If it was working but not working now, probably because of known issue #22, which you may need to toggle accessibility permission for HapticKey after updating it.
HapticKey should not be interfering with the other apps, but it depends on the such applications’ implementation.
If you can’t solve the issue after toggling accessibility permission, I may want to ask you to get an applica

[2018-10-05 19:31] JayBrown commented on #25
You're right. Thank you. Should've scanned it before launching. Then I would've known that it isn't codesigned. ;)

[2018-10-05 19:31] #25 closed

[2018-10-05 19:42] niw commented on #25
@JayBrown Sorry for the inconvenience...!

[2018-11-11 04:14] Palisand commented on #18
What about for just the touch bar's "x"?

[2018-11-24 04:56] ghazel commented on #14
I found another potential solution; watch `IOHID` for Touch Bar events, and only enable `CGEventTap` for a brief period after. As long as the `CGEventTap` was created before the event, it does seem to catch the keydown event.

Proof of concept: https://gist.github.com/ghazel/e2e0f2644f816cb4167021a2e0566357

[2018-12-10 05:25] CheangJingYang opened #26 "Need a stronger haptic feedback"
A stronger haptic feedback is always more satisfying, maybe a new haptic option like "powerful". Btw, the "powerful" setting can use the feedback of force-clicking the trackpad. It'll be great if you add it!

[2018-12-10 18:40] niw commented on #26
@CheangJingYang Quick question, are you using MacBook Pro (2018) model?

[2018-12-14 02:16] CheangJingYang commented on #26
yes.

[2018-12-14 02:20] CheangJingYang commented on #26
There is an app call Haptic Touch Bar, but the feedback is stronger on the 2018 MacBook Pro. I've Browsed the package content in the Haptic Touch Bar app, I still can't figure out how the app do it.

[2018-12-15 00:59] niw commented on #26
@CheangJingYang I tried to use MacBook Pro (2018) 15" model today and confirmed that the one the app is currently using for strong is the same haptic format that normal trackpad tap feedback.
Probably the app you mentioned are using custom haptic format which is not pre-defined and I need to take a look at more about their private API behaviors.

[2018-12-15 01:00] niw commented on #26
This is actually duplicate of #24 so close this thread. I'm going to update #24 with my today’s observation.

[2018-12-15 01:00] #26 closed

[2019-01-24 23:14] gch1p commented on #14
Hi! Have you tried the proposed IOKit solution?

[2019-02-06 19:45] niw commented on #14
@gch1p Yeah, I tested once and tried to use it, however recently I was at little bit busy and couldn’t have time to work on it. I will give another work soon.

[2019-03-08 23:44] lpla opened #29 ""Start on login" is not shown as enabled but it is (and cannot disable)"
After some months using this app, I wanted to disable starting on login but looks like it is disabled even if I click on it several times (but it is enabled if I restart):

<img width="372" alt="Captura de pantalla 2019-03-09 a las 0 42 33" src="https://user-images.githubusercontent.com/1533393/54062068-436c8a80-4204-11e9-94d0-fe9a10e73483.png">

If this bug isn't easily fixable in HapticKey code,

[2019-05-23 18:32] niw commented on #29
Sorry for not replying this for a while. Let me take a look soon.

[2019-05-24 21:17] niw commented on #29
@lpla Do you see HapticKey in System Preferences... → Users & Groups → Current User → Login Items?
This "Start on Login" is checking this item and add, remove Haptic Key to run the application when user is logging in.

<img width="519" alt="Login Items" src="https://user-images.githubusercontent.com/13096/58357125-7a7b3100-7e2e-11e9-9bd3-4e8215c544f4.png">

[2019-05-25 11:30] lpla commented on #29
Oh! Yes! I didn't know about this menu. Looks like I had duplicated entries from older versions or app located at other folders, and after deleting all entries now it is working!

If I get this issue again I will check this menu to report this issue more carefully. Meanwhile, I will close the issue as I can't reproduce it now after deleting all entries from this System Preferences menu.

Thanks!

[2019-05-25 11:30] #29 closed

[2019-05-25 14:45] niw commented on #29
I see, thank you for reporting! (and again, sorry for not replying for a while.)

This start up item feature is [using deprecated API](https://github.com/niw/HapticKey/blob/master/HapticKey/Classes/HTKLoginItem.m#L16) due to new API’s behavior and it’s based on the application main bundle path, so it should work even if the system has multiple copy of it.

However, I didn’t test that case yet. So,

[2019-06-14 00:34] pcr910303 commented on #18
@niw May I ask if there is any updates?̊̈ I really would like this feature...

[2019-06-15 00:02] niw commented on #18
I explored a way to detect these events from touch bar in different approach such as using IOKit, however not really find a way to do so yet. Since this year at WWDC, they announced new APIs, I will take a look at them as well as testing it on Catalina to figure out the better solution.

[2019-07-09 12:37] rbdej opened #30 "Feature Request: Option for Volume Control on Sound Feed Back"
Hi, I like the app and have been using it for quite some time now (about 2 or 3 weeks) and I just realised that a Volume control for the Sound Feedback option could be a great addition.

Thank you so much for the great app :)

[2019-07-22 02:03] niw commented on #30
@rbdej Let me think about this, that feature could be improved for sure.

[2019-07-25 09:19] rbdej commented on #30
Ok, thank you for responding back. Keep up the great work on the app :)

[2019-09-22 17:09] wrabit opened #31 "Why no feedback on volume, brightness up / down"
I'm getting no feedback when pressing up / down on the volume and screen brightness. Just wondered if I am missing anything or there is a reason why it was excluded? (keyboard setting "Expanded control strip"

[2019-09-23 01:10] niw commented on #31
@wrabit Could you try using ”All Taps on Touch Bar” instead, that should respond all taps on any type of Touch Bar mode.

If you’re already using it, but not getting feedbacks, try next steps to allow HapticKey to get events from Touch Bar.
1. Open System Preferences from Apple menu.
2. Select Security & Privacy.
3. Select Privacy tab, then select Accessibility.
4. Tap lock icon then type password

[2019-09-23 05:52] wrabit commented on #31
@niw yes working in that mode but it's not effective enough for me. Having feedback only on the buttons themselves provides the most uninterrupted experience, being able to use function keys without looking down or at a very swift glance. If its registering all touches then you can be pressing away without real acknowledgement you hit a button - causing great frustration!

Haptic Touch Bar does it

[2019-09-23 21:22] niw commented on #31
@wrabit Ah, I see what you meant, so detecting UI elements on Touch Bar to make a feedback. That requires extra reverse engineering about their API... which I didn’t complete yet, and I think the request is same as #4 so I will close this and merge with it.

[2019-09-23 21:22] #31 closed

[2019-09-24 04:28] wrabit commented on #31
Ok but just to note: I don't mean sliders, i mean using the incremental buttons - i am using the mode which emulates the original function keys - no slider.

---- On Mon, 23 Sep 2019 23:22:32 +0200 notifications@github.com wrote ----

@wrabit Ah, I see what you meant, so detecting UI elements on Touch Bar to make a feedback. That requires extra reverse engineering about their API... which I didn’t

[2019-09-24 04:31] niw commented on #31
@wrabit Sure! I understand that part! If I can separately implement one if them, I will open this later and update, but likely these are same that the app needs to understand some Touch Bar private APIs.

[2019-11-15 21:13] voidref opened #33 "Build issue"
When attempting to build an error occurs:

[code]

[2019-11-15 21:15] niw commented on #33
@voidref Thank you for filing the bug, I think this is caused by Ruby version change on macOS 10.15. I will address this issue soon.

[2019-11-15 21:15] voidref commented on #33
Thank you! Much appreciated!

[2019-11-17 10:36] ukieTux opened #34 "No sound when enable sound effect"
No sound when enable sound effect in 10.5.1 Macbook Pro 2018

[2019-11-17 21:39] niw commented on #34
@ukieTux Did you mean 10.15.1 (Catalina)?

[2019-11-18 06:45] niw commented on #34
Confirmed that it makes a sound when tap down and tap up on macOS 10.15.1 on MacBook Pro (2017,) and I don't think it's different from the one in 2018. Please make volume loud to hear if it's actually not making sounds or not. It doesn't play loud effect intentionally.

[2019-11-18 07:47] niw commented on #33
Fixed by a0e0e6a, tested on macOS 10.15.

[2019-11-18 07:47] #33 closed

[2019-11-18 09:08] voidref commented on #33
Makefile made, but now error is:

[2019-11-18 09:09] voidref commented on #33
This happened during the make, seems odd for it to want to unlock my watch:

`2019-11-18 01:03:55.490 xcodebuild[13596:2475728]  DTDeviceKit: Failed to mount DDI from '<DVTFilePath:0x7fd76c1c61e0:'/Applications/Xcode.app/Contents/Developer/Platforms/WatchOS.platform/DeviceSupport/6.1/DeveloperDiskImage.dmg'>', error=-402653158: Error Domain=com.apple.dtdevicekit Code=-402653158 "The device is pass

[2019-11-18 09:11] voidref commented on #33
I also noticed this error

[code]

[2019-11-18 09:12] voidref commented on #33
This should be a new issue, I think, sorry!

[2019-11-18 09:15] voidref commented on #33
nuke and pave worked.

(delete and re-clone, re run make bootstrap, open xcworkspace. Now everything is fine!)

[2019-11-18 15:00] ukieTux commented on #34
@niw  yes, 10.15.1 Catalina
I was set sound to max and make sure when i tap down there no sound, just sound from trackpad not from speaker

[2019-11-19 06:11] ukieTux commented on #34
i got sound when using headset, but no sound in speaker

[2019-11-20 06:58] niw commented on #34
@ukieTux I see, that sounds like not application issue but probably system configuration issue.
Could you make sure that other alert sounds are coming from speaker?
I think you can test it in System Preferences, open Sound pane, then select Sound Effects tab and pick one of alert sounds in the list.

[2019-11-20 08:29] ukieTux commented on #34
Great, thanks it's work

[2020-01-18 07:03] #34 closed

[2020-02-13 06:27] EzraLopez opened #35 "Any plans to make it a paid app on the app store?"
Or do you take donations? This is a nice app :)

[2020-02-14 00:24] niw commented on #35
Thank you so much! ☺️

The app is using private APIs which are not allowed to use in the app on Mac AppStore therefore I have no plan to make it available there, or sell it there. Anyways, it’s open sourced already.

Also, at this moment I don’t have any setup to accept donations. However, I am thinking to complete applying GitHub sponsors at some point near future, so that I can have some sustain

[2020-03-10 22:28] hackToxa opened #36 "HapticKey blocks Notification Centre Gesture (two fingers) on the Trackpad MB2019 16""
Hi,

I really like HapticKey.
Unfortunately, on my new MB 2019 16", I noticed it is blocking the Notification Gesture.

Only per google search, I found a relation and after switching HapticKey of, it works again.
Seems to be a bug.

BR

[2020-03-10 22:38] niw commented on #36
Hi, @hackToxa, thank you for reporting.

I tested on my MacBook Pro (2017) and the notification center gesture, two finger swiping from right outside of track pad to inside of track pad works while HapticKey.app is running and enabled, however, I observed the gesture stops working after quitting HapticKey.app or some similar operation with the application launching or quitting.

Are you seeing sim

[2020-03-13 07:29] Vxider commented on #36
@niw I  have a 16 inch MBP(2019), same with you, notification center gesture works well when using HapicKey, but stop working after quitting. I encountered this problem before using HapicKey(notification center and zoom in/out gesture). I even write a applescript to reset the touchpad options in System Preferences.

[2020-03-13 11:21] etienneleblan commented on #36
16inch MBP here too, not having any issues so far

[2020-03-15 02:13] niw commented on #36
Currently I found possible race condition of how HapticKey is handling gesture events and how application quits since most of case HapticKey quits by menu item “Quite HapticKey” however, selecting that menu item is actually gesture and seems like that causes some timing problem and messed `CGEventTap`, which HapticKey is using to detect taps on Touch Bar.

Current workaround is quitting HapticKey

[2020-03-22 03:58] jhfrontz opened #37 "Missing dependencies?"
I'm trying to build after cloning the repo -- I've got Xcode 11.3.1.  However, when I try to `make`, I get:

[code]

Is there some other dependency that I'm missing?

[2020-03-22 05:41] niw commented on #36
I think d2aec16 may fix this issue. Testing now.

[2020-03-22 05:44] niw commented on #37
@jhfrontz `scripts/exec_with_gems` should exist (See https://github.com/niw/HapticKey/blob/master/scripts/exec_with_gems,) probably your working directory is not clean.

[2020-03-22 21:12] niw commented on #36
Hi, @hackToxa, @Vxider  and @etienneleblan!

I made a binary from the latest branch for testing before releasing.
[HapticKey.app-20200322210145.zip](https://github.com/niw/HapticKey/files/4366352/HapticKey.app-20200322210145.zip)

This should fix the issue mentioned here, also hopefully it is handling the taps in better way.
If you have a time, please test it and let me know if you find any proble

[2020-03-23 03:02] Vxider commented on #36
Thanks for your work, 20200322210145 works well for my 16 inch MBP(2019).

[2020-03-23 05:41] niw commented on #36
@Vxider Thank you for testing!

[2020-03-23 15:07] jhfrontz commented on #37
@niw that's the weird thing-- it does exist:

[code]

If I run the `pods` script directly:
[code]

Aha!  I think it is this:  https://github.com/devrandom/gitian-builder/pull/202/files#r249558443
(https://unix.stackexchange.com/questions/245453/how-to-not-show-path-after-cd-command-with-cdpath-set )

[2020-03-23 15:10] jhfrontz commented on #37
From the `cd` section of `bash` man page:

If a  non-empty directory  name  from CDPATH is used, or if - is the first argument, and the
directory change is successful, the absolute pathname of the new working directory is written
to the standard  output.

[2020-03-23 15:22] jhfrontz opened #38 "Special configuration for Terminal?"
I've got HapticKey running, configured, and enabled. It successfully vibrates the trackpad when I touch the `esc` on the trackpad when using, for example, Safari or the Finder.

However, I don't get any sort of response when I hit `esc` while using Terminal.

Is there something I need to configure to enable use with certain applications?

[2020-03-23 15:23] jhfrontz commented on #37
This allowed me to build/install:

[code]

[2020-03-23 15:32] jhfrontz commented on #38
Aha (again!)-- `Secure Keyboard Entry` must be **dis**abled in Terminal. I guess this makes sense since the Touch Bar is on the input stream and presumably HapticKey is intercepting "keypresses".

[2020-03-23 16:31] niw commented on #38
Ah, I see. If the application doesn’t support `CGEventTap`, it doesn’t work and it’s limitation of this application.

[2020-03-23 16:34] niw commented on #37
Ah, I see. That's unexpected. Let me fix the script, thanks!

[2020-03-23 16:47] niw commented on #36
Released 0.5.0.
https://github.com/niw/HapticKey/releases/tag/0.5.0

Thank you for your help!

[2020-03-23 16:47] #36 closed

[2020-03-23 16:48] niw commented on #37
Fixed by `8fafbc6`. Thanks!

[2020-03-23 16:48] #37 closed

[2020-03-23 17:42] jhfrontz commented on #38
Right -- I had forgotten that I had enabled `Secure Keyboard Entry` years ago;

[2020-03-23 18:13] niw commented on #38
There might be many applications that support such secure keyboard entry.

[This documentation](https://developer.apple.com/library/archive/technotes/tn2150/_index.html) describes the API used for that functionality and clearly `CGEventTap` for the keyboard events is the one included to be prevented by this API.

If you use “All Taps on Touch Bar” instead of “ESC and F1, F2, etc. Keys,” however, i

[2020-03-24 12:45] wrabit commented on #30
Would be good to see this

[2020-03-24 15:31] jhfrontz commented on #38
Thanks, that is really good advice -- and it does allow for `Secure Keyboard Entry` in Terminal.

[2020-03-24 15:31] #38 closed

[2020-03-25 05:56] niw commented on #30
Here, 523bade, I made an experimental change to add volume control.

There is no user interface to change it for now. Therefore you need to use `defaults(1)` to control it like `defaults write at.niw.HapticKey SoundEffectVolume -float 0.3`.

Since only user interface currently HapticKey has is status item menu, which can provide very limited user interactions for changing preferences.
It was enoug

[2020-04-12 07:10] koyno commented on #14
@niw Just found this app and it's extremely useful! However, I just can't use it while this bug is active, I prefer more battery life than constant loading on CPU. Would it be possible to fix this issue?

[2020-07-10 08:24] russbishop commented on #14
You can use this extension to exclude processing non-Touchbar events. Please file a feedback request asking for public API for this and send me the FB number.

[code]

[2020-07-19 06:56] StealthWire opened #39 "Can it cause damage to Haptic Engine?"
First things first, superb app. Feels like this is the way Mac should be shipped by default. However, it makes me question why did apple engineers decide against it? Is it due to the concerns of overuse of haptic engine?

Can HapticKey cause any long term damage to the haptic engine? The utilisation of Haptic Engine is doubled than the intended design. Ik sounds silly and dumb but it might be a co

[2020-07-19 07:14] niw commented on #39
@StealthWire Interesting question... and I have no answer for your question of using it more than expected causes long-term problem on track pad Haptic Engine or not, because obviously, I am not hardware engineer at Apple.

However, I can mention one thing that current HapticKey implementation is using Apple’s designed haptic feedback wave patterns, which is actually one of reasons of other issue

[2020-07-19 16:18] StealthWire commented on #39
Ahh the 2nd last para makes total sense. I did not take that into account, so it seems apple has indeed taken into account the number of times haptic engine might be triggered by other app. Nice to know, I can continue punching the touch bar, thanks to you for make it more productive. And yes I understand, being an open source app you have no liability to guarantee.

🤓 thank you for your time and

[2020-07-19 16:18] #39 closed

[2020-08-10 06:04] amkaplan commented on #30
Speaking as someone who doesn't code, I'm putting in a vote for a volume control if it's feasible, whenever it's feasible.

I can, however follow instructions, if someone is game to provide them.

Many thanks

[2020-11-05 20:40] DennisSchiefer commented on #6
I played around with the `kMinimumActuationInterval` a bit and found that 200ms gives a pretty good experience for me personally.
Anything longer, I experience as a proper key press that should have down and up feedback.
Anything shorter, I experience as a tap, for which a single feedback is sufficient.

Also, major thumbs up to @niw for making this easy to compile (without any Ruby or XCode exper

[2020-11-05 20:42] DennisSchiefer commented on #14
I can second that. If @niw is currently busy, @ghazel would you be up to trying to add this to HapticKey?

[2020-11-15 23:43] ruohola opened #41 "Only the 'All Taps on Touch Bar' setting works, the 'ESC and F1, F2, etc. Keys' doesn't"
Steps to replicate:

- Run HapticKey
- From Menu Bar, change the HapticKey setting to 'All Taps on Touch Bar'
- Haptic feedback happens correctly for all Touch Bar keys
- From Menu Bar, change the HapticKey setting to 'ESC and F1, F2, etc. Keys'
- Press fn to show F-keys -> no haptic feedback

My system:

HapticKey Version 0.5.0 (16, 23. Mar 2020 at 7.53, 0c50474)
macOS Big Sur 11.0.1 (The issue o

[2020-11-17 07:11] niw commented on #41
@ruohola Which application are you using it? If you’re using Terminal.app, could you try unchecking "Secure Keyboard Entry" under Terminal application menu?

[2020-11-17 08:04] ruohola commented on #41
I tried then for exaple in Safari. The open app didn't matter.

[2020-11-28 20:36] wurst-case commented on #30
I just want to chime in a second this. Functionality that would be the bees knees would be as you slide you feel clicks as if the slider as little notches.

Love the work you've done so far. Cheers.

[2020-12-26 06:45] AyAyRON123 opened #42 "HapticKey not working on MacBook Pro with M1 Chip"
when I installed HapticKey it only worked with sounds and lights but no haptics. This may be because of the new chip but I'm not sure.

[2020-12-27 12:08] tanpengsccd commented on #42
Yes it dosen't work,but sound Effect work.

[2020-12-30 05:42] AyAyRON123 commented on #42
Are the devs planning to make it work in the future? because from now on all MacBooks will run off of an M chip.

[2020-12-30 07:04] niw commented on #42
@AyAyRON123 Plan to fix it soon yet need some help from MacBook Pro (M1, 2020) owner since I don’t have that specific hardware.

[2020-12-30 08:33] AyAyRON123 commented on #42
is there anyway that I could help>?

[2020-12-30 08:42] #42 closed

[2020-12-30 08:46] niw commented on #42
@AyAyRON123 Thanks, I actually just got a help from @1024jp. I think current tip branch now supports MacBook Pro (M1, 2020.)

[2020-12-30 08:51] AyAyRON123 commented on #42
ok thanks

[2020-12-30 08:58] AyAyRON123 opened #44 "Haptics still not working with M1 MacBook Pro"
I deleted HaptiKey and reinstalled it but its still not working for me? Also, are you thinking of making a tutorial video because it may be easier to setup if we see you do it?

[2020-12-30 09:03] niw commented on #44
@AyAyRON123 The change is not reflected to the binary distributed only available in the source code.
Try this [HapticKey.app-cd221bc.zip](https://github.com/niw/HapticKey/files/5753630/HapticKey.app-cd221bc.zip) instead.
This is a pre-build binary from current tip branch for testing.

[2020-12-30 09:03] #44 closed

[2020-12-30 09:07] niw commented on #42
As I mentioned on #44, I’ve uploaded a pre-build binary [HapticKey.app-cd221bc.zip](https://github.com/niw/HapticKey/files/5753630/HapticKey.app-cd221bc.zip) from current tip branch for testing.
This is also universal binary for both Intel and Apple Silicon.

[2021-01-14 17:52] pedserdoc opened #45 "Haptic Key macOS 11.1 compatibility"
I have attempted to install Haptic Key v0.5 on macOS 11.1 without success. I am greeted by a dialog box that states the developer must update the app for installation to proceed. Is there a workaround for Big Sur compatibility or must we await a new version?

[2021-01-15 00:22] niw commented on #45
For testing #42, there is a prebuild binary from the latest source code [HapticKey.app-cd221bc.zip](https://github.com/niw/HapticKey/files/5753630/HapticKey.app-cd221bc.zip) so you can try this instead.

However, probably the dialog you see is the security dialog that macOS os presenting for the binary which code is not signed. Since I am a personal developer and not yet have a plan to prepare for

[2021-01-15 01:32] pedserdoc commented on #45
My Mac is a 2019 MacBookPro. The dialog box states "Haptic Key cannot be installed because macOS cannot check the app for malicious software", which likely means it's not signed. However, installation with the new universal binary version of v0.5 cd221bc was successful by use of the command button and giving Haptic Key Accessibility privileges within the Privacy and Security control panel. Thank y

[2021-01-15 01:35] niw commented on #45
@pedserdoc Sounds good!! Thank you for testing it! If you found any problems, please feel free to open a new issue.

[2021-01-15 01:35] #45 closed

[2021-02-28 10:36] dlackty opened #46 "Release a new version?"
As #42 #43 have been merged, and M1 devices has been released for months. I think it's a good idea to release a version with those fixes?

[2021-03-11 06:20] neronmoon commented on #46
@niw Please do!

[2021-03-12 06:01] niw commented on #46
Yes! but I want to work a few things before releasing a new binary, hopefully I can find time to settle it soon!
Sorry for delaying release, mean a while, you can try this ad-hoc binary [HapticKey.app-cd221bc.zip](https://github.com/niw/HapticKey/files/5753630/HapticKey.app-cd221bc.zip) for testing.

[2021-03-21 00:51] knives-repo opened #47 "Possible to limit area where haptics activate?"
Hi! I recently found this and was very impressed at the app's functionality. I'm trying to get this to work in tandem with my fork of a touchbar widget app ([EnergyBar](https://github.com/knives-repo/EnergyBar)). I was wondering where in the code I can edit to recompile such that only certain areas of the touchbar will trigger haptics?

[2021-03-22 02:22] niw commented on #47
I didn’t try though, you can probably modify `HTKTapGestureEventListener` and filter unwanted `NSTouch` to not callback event listener.
See https://github.com/niw/HapticKey/blob/master/HapticKey/Classes/HTKTapGestureEventListener.m#L50-L67.

[2021-04-15 20:41] ruohola commented on #41
Any update on this?

[2021-04-26 07:32] m1mbp opened #50 "Does this work on a M1 Mac?"
I downloaded Haptic Keys on my M1 MacBook Pro and the app runs, but no haptics. I don't know what could be wrong.

[2021-04-26 15:38] niw commented on #50
You need to use newer binary not released yet for now, but you can use [HapticKey.app-cd221bc.zip](https://github.com/niw/HapticKey/files/5753630/HapticKey.app-cd221bc.zip) for testing.
Sorry for inconvenience. See #42 for the details.

[2021-04-27 00:57] m1mbp commented on #50
Thank you so much, it works like a charm now. Thanks again for making this wonderful app.

[2021-05-05 01:21] carbongo commented on #50
Thank you. You are the best!

[2021-06-12 22:31] luluhoc opened #52 "Does this work on M1 and Monterey?"
Hey, I installed the version from your reply on M1 on Beta 1 Monterey sound effect works but no haptics any updates?

[2021-06-13 04:53] niw commented on #52
I haven’t have setup for macOS 12 Monterey beta yet...
If it doesn’t work, it may need to have extra work for sure.

[2021-06-21 06:22] kikikiblue commented on #46
I installed HapticKey.app-cd221bc.zip on my Intel Macbook successfully.
```MacBook Pro (13-inch, 2017, Four Thunderbolt 3 Ports)```

Haptic works well but the sound effect is not working.
Even if I turned off the sound effect, when I touch esc, sound effect is still working with haptic.

Anyway, I really appreciate this great app.
Thanks!!

[2021-07-01 04:50] trainboy2019 opened #53 "Doesn't work with Magic Trackpad 2?"
Hi, so when I tap the touch bar, I feel a vibration on the built-in trackpad, but not on the external Magic Trackpad 2, which also has haptic support. Is it possible for this app to use both, or have an option to choose which one vibrates?

[2021-08-22 09:53] niw commented on #46
Sorry for took a long time since last release but I just published the newer version also updated per-build binary.
Please find new binary in [Releases](https://github.com/niw/HapticKey/releases) page.

[2021-08-22 09:53] #46 closed

[2021-08-22 09:54] niw commented on #50
Since 0.6.0 released with this change, I am going to close this issue.

[2021-08-22 09:54] #50 closed

[2021-09-18 07:04] iKarans opened #54 "Not Installing M1 Macbook Pro"
“HapticKey” can’t be opened because Apple cannot check it for malicious software.
This software needs to be updated. Contact the developer for more information.

I get this pop up when I open the app after I downloaded the latest version.

[2021-09-20 03:31] gashead76 commented on #54
You can right click (or Control-Click) on the application icon to open it after a couple warning dialogs. If you happen to be on Monterey beta, it does not seem to be working at all.

[2021-09-20 03:33] gashead76 commented on #52
Release 0.6.1 does not seem to work on any of the betas of Monterey so far. No sounds or haptics. I tried the [one from above](https://github.com/niw/HapticKey/files/5753630/HapticKey.app-cd221bc.zip) and sound worked, no haptics however.

[2021-09-20 03:41] niw commented on #54
This is because the pre-build binary I am distributing from GitHub releases page are not signed nor notarized for now.
As @gashead76 mentioned, you need to accept the warning dialog by opening app by click icon with Ctrl to Open. This is also described in README so please refer it as well.

If you're concerned about binary itself, you can always build your own binary from the source code (sorry, I

[2021-09-20 07:58] iKarans commented on #54
Thank you! Loving the app already.

[2021-09-20 07:58] #54 closed

[2021-10-28 23:24] SteepAtticStairs opened #56 "Haptics don't work with MacOS Monterey"
Hi,
I have been using HapticKey perfectly on my 2020 M1 Macbook Pro running Big Sur, but I just upgraded to Monterey today and the haptics are no longer working. The app installs fine, and the screen flash seems to work, but the haptics no longer do. This seems to be an issue with Monterey, because it stopped working as soon as I upgraded. I am using the latest pre-built binary on the github relea

[2021-10-30 05:53] jawil003 commented on #56
Same Issue here 😟

[2021-10-30 06:13] niw commented on #56
Yes, sorry, I am aware of this issue, It's same as #52, not limited to M1, but Monterey changes its API and seems current approach is no longer working.

[2021-10-31 06:27] niw commented on #56
@jawil003  @SteepAtticStairs OK, I think I made various changes to make it works on macOS Monterey and other version of macOS.
Please try [HapticKey.app-c92001a.zip](https://github.com/niw/HapticKey/files/7448226/HapticKey.app-c92001a.zip) and see if it works on your environment or not.
Thanks!

[2021-10-31 06:29] niw commented on #52
@luluhoc @gashead76 I think I fixed both issues now, please try one I posted on #56 and see if it works on your environment or not.

[2021-10-31 07:16] jawil003 commented on #56
@niw Awesome will try it out. Thank you.

[2021-10-31 07:19] jawil003 commented on #56
@niw It is working as expected.

[2021-10-31 16:04] niw commented on #56
@jawil003 Thank you for the confirmation!

[2021-10-31 17:46] SteepAtticStairs commented on #56
@niw Just tried it out, it works perfectly! Thanks so much!

[2021-10-31 17:47] #56 closed

[2021-10-31 17:48] niw commented on #56
@SteepAtticStairs Thank you for the confirmation, I will release newer version soon with other changes.

[2021-10-31 18:12] niw commented on #52
These issues are fixed on [0.7.0](https://github.com/niw/HapticKey/releases/tag/0.7.0).

[2021-10-31 18:12] #52 closed

[2022-08-24 12:58] rodrigoAbril commented on #22
Im my case I cant toggle the permission even after using the admin password, the checkbox is perpetually ON but the application says the permission for Accessibility  is missing...  any Ideas?

[2022-08-24 16:48] niw commented on #22
@rodrigoAbril What is your macOS version? Also wondering if your mac has any MDM profiles (such as company issued laptop.) If you can, select app and use minus button at bottom, then restart app again that will create new entry then I think you can enable checkmark again.